.header {
  margin-bottom: 25px;

  box-shadow: 0px 4px 6px 0px rgba(15, 15, 15, 0.2);
  color: rgb(22, 102, 183);
}

.header__inner {
  display: flex;
  justify-content: space-between;

  padding: 20px 0;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 15px;
}

.nav__link {
  color: inherit;
}
