.item {
  padding-left: 8px;
}

.item__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.06);
}

.item__name {
  flex-grow: 1;
}

.item__name,
.item__number {
  margin-right: 15px;
}
