.form {
  margin: 0 auto;
  padding: 18px;
  max-width: 400px;

  border: 1px solid #000000;
  border-radius: 5px;
}

.title {
  margin: 0 0 15px 0;

  text-align: center;
}

.label {
  display: flex;
  flex-direction: column;
}

.label:not(:last-child) {
  margin-bottom: 25px;
}

.input {
  margin-top: 5px;
}

.btn {
  display: block;

  width: 100%;
  margin-top: 5px;
  padding: 2px 7px 4px 7px;
}

.text {
  margin-top: 10px;

  text-align: center;
}
