.text_wrap {
  margin-top: 100px;

  text-align: center;
  font-size: 25px;
  font-weight: 400;
}

.links_wrap {
  margin-top: 10px;
}

.link {
  display: inline-block;

  font-weight: 500;
  color: rgb(22, 102, 183);
}
